.tarjeta:hover {
  transform: scale(1.5); }

.tarjeta {
  transition: all 0.5s ease-in-out; }

.tarjeta-producto {
  transition: all 0.3s ease-in-out; }

.tintos, .rosados, .blancos, .espumantes {
  transition: all 0.3s ease-in-out; }

.tarjeta-producto:hover {
  transform: scale(1.1);
  opacity: 85%; }

.tintos:hover, .rosados:hover, .blancos:hover, .espumantes:hover {
  transform: scale(0.9);
  opacity: 80%; }

.fb, .ig, .wpp {
  transition: all 0.5s ease-in-out; }

.fb:hover, .ig:hover, .wpp:hover {
  transform: scale(1.4);
  opacity: 70%; }

footer li {
  list-style: none; }

footer a {
  color: black;
  text-decoration-line: none; }

footer .pie h4 {
  color: #4d4d4d; }

footer .pie li {
  color: #bdb560; }

.linea-redes {
  padding-bottom: 2rem;
  border-bottom: 1px solid #a8a8a8; }

.tituloOfertas,
.seguinos,
.vinos {
  border-top: 1px solid #a8a8a8;
  border-bottom: 1px solid #a8a8a8; }

.barra {
  display: flex;
  z-index: +1;
  position: sticky;
  top: 0%; }

body h1,
body h5 {
  color: #b9a54b; }

.titulos_secundarios {
  color: darkgrey;
  display: flex;
  justify-content: center; }

.titulo_descripcion {
  border-top: solid 1px #a8a8a8;
  font-weight: 500;
  color: #b9a54b;
  font-size: 2rem;
  padding-top: 2rem; }

.precio {
  color: #4d4d4d;
  font-size: 1.5rem;
  font-weight: 500; }

.subtitulo_descripcion {
  text-decoration: underline;
  font-size: 1.3rem;
  padding-top: 2rem;
  color: #000000; }

.boton_comprar {
  font-weight: 500;
  text-decoration: none;
  color: #000000;
  padding: 0.5rem 2rem;
  border-radius: 2rem;
  background-color: #dfd1a4;
  transition: all 1s ease-in-out; }

.boton_comprar:hover {
  color: #ffffff;
  padding: 0.5rem 6rem; }

.cuadro_descripcion {
  padding-bottom: 2rem;
  border-bottom: solid 1px #a8a8a8; }

.seccion_navbar {
  text-decoration: none;
  color: #000000; }

.icono {
  width: 1.5rem;
  height: 1.5rem; }

.imgenvios {
  height: auto; }
