
// variables
$color-principal: #b9a54b;
$color-secundario: #bdb560;
// Partials
@import 'scss/components/productos';
@import 'scss/components/footer';
@import 'scss/base/extends';

.barra {
    display: flex;
    z-index: +1;
    position: sticky;
    top: 0%;
    }


//Ejemplo de extend//
.tituloOfertas, .seguinos, .vinos {
   @extend %lineas_divisorias
}

body{          
    h1, h5 {
        color: $color-principal ;
    }

}